<!DOCTYPE html>
<html lang="es-MX">

<!-- Head -->
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edgar Mauricio Barrueta Aguirre</title>

    <!-- CSS Only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body th:fragment="main"> 

  <!-- Navbar  -->    
  <nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"> <!--shadow-5-strong -->
    <div class="container-fluid" >
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#h-introduccion">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8080/portafolio#aboutme">Sobre mí</a>
          </li>            
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8080/portafolio#portafolio">Portafolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">Habilidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactme">Contáctame</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header>     
    <!-- Introducción -->
    <section id="h-introduccion"> <!--AQUI A LO MEJOR UN VIDEO-->
      <article id="a-text">
        <h1>Desarrollador Java</h1>        
        <p>Desarrollo y Diseño de páginas Web</p>
        <p>Desarrollo Back end, Front end y Full Stack</p>
        <p>Desarrollo de Aplicaciones <img th:src="@{/img/skills/Android.png}" alt="" height="30" width="40"></p>                
        <p>
          <a href="#contactme" class="btn btn-success">Contáctame</a>          
        </p>
      </article>
      <article id="a-img">
        <img id="introductionimg" th:src="@{/img/fondo2.jpg}" alt="">
      </article>
    </section>    
  </header>

  <!-- Cuerpo de la página -->
  <div id="main">

    <!-- Sobre mí -->    
    <div id="aboutme" class="aboutme">      
      <div id="aboutme-img">
        <img th:src="@{/img/fondo.jpg}" alt="">
      </div>      
      <div id="info">
        <h1>Sobre mí</h1>
        <p>Soy un desarrollador Java</p>
        <p>Soy un desarrollador Java</p>
        <p>Soy un desarrollador Java</p>
        <p>Entre mas texto le ponga</p>
        <p>mas aumenta la altura</p>
        <p>abkvdkjfkjksjdkjkfjskdjfkj</p>
        <p>skhdfshdkhdfkhdskfhfdskhd</p>
        <p>
          <a href="#" class="btn btn-success">Descargar CV</a>
        </p>
      </div>
    </div>

    <!-- EN VEZ DE SCROLL SERÁN BOOTSTRAP CARDS-->
    <!-- Proyectos (Aún pendiente si el scroll horizontal será automático o manual) -->
    <div id="portafolio" class="portafolio">
      <h1>Portafolio</h1>
      <div class="card-group" id="projects-cards">
        <div class="card mx-2 mb-3">
          <img th:src="@{/img/MedicosHoy.png}" class="card-img-top" alt="imagen">
          <div class="card-body">
            <h5 class="card-title">Sistema administrador de usuarios</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
              This content is a little bit longer.</p>
              <!-- Link a GitHub para ver el código fuente del proyecto -->
            <a href="#" >
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" 
              data-bs-toggle="tooltip" data-bs-placement="right" title="GitHub" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
              </svg>
            </a>
          </div>
          <div class="card-footer">
            <small class="text-muted">Enero - Abril 2020</small>
          </div>
        </div>
        <div class="card mx-2 mb-3">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card mx-2 mb-3">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
              This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card mx-2 mb-3">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        
      </div>
    </div>
    
    <!-- Hablilidades (Seran imagenes y queda pendiente si saldrá información al dejar el puntero) -->
    <div id="skills" class="skills">
      <h1>Habilidades</h1>
      <div id="s-imgs">
        <img th:src="@{/img/skills/Java.png}" alt="" data-bs-toggle="tooltip" data-bs-placement="top" title="Java">
    
        <img th:src="@{/svg/HTML.svg}" alt="" data-bs-toggle="tooltip" data-bs-placement="top" title="HTML 5">
    
        <!--! Cambiarle a estos como los de arriba-->
    
        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Java">
          <img th:src="@{/svg/JavaScript.svg}" alt="">
        </a>
        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Java">
          <img th:src="@{/img/skills/Java.png}" alt="">
        </a>
        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Java">
          <img th:src="@{/img/skills/Java.png}" alt="">
        </a>
        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Java">
          <img th:src="@{/img/skills/Java.png}" alt="">
        </a>
        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Java">
          <img th:src="@{/img/skills/Java.png}" alt="">
        </a>
        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Java">
          <img th:src="@{/img/skills/Java.png}" alt="">
        </a>
        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Java">
          <img th:src="@{/img/skills/Java.png}" alt="">
        </a>
        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Java">
          <img th:src="@{/img/skills/Java.png}" alt="">
        </a>
    
      </div>
    </div>
    
    <!-- Contacto (Formulario. iconos para las redes, telefono)-->
    <div id="contactme" class="contactme">
      <h1>Contáctame</h1>
      <div id="contactme-div">
        <div class="row">
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre/Empresa">
          </div>
          <div class="col mb-3">
            <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@email.com">
          </div>
        </div>       
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Asunto</label>
          <input class="form-control" type="text" value="Contacto" aria-label="Solo lectura" readonly>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Texto</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
        <button class="btn btn-success">Enviar</button>
      </div>
    
    </div>
    </div>

  <!-- Footer -->
  <footer th:fragment="footer">
    Edgar Mauricio Barrueta Aguirre &copy; 2022 Todos los derechos reservados
  </footer>

  <!--<script th:src="@{/js/navbarstatic.js}"></script>-->
  
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <!-- Tooltip Script -->
  <script>
    var tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    var tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>

</body>
</html>