/* --------------------------------------------------------------- FOOTER ----------------------------------------------------------------- */
.main { /* Main div content */
  position: relative;
  z-index: 1;    
  box-shadow: #000 0 7px 35px 0;
  background-size: contain; background-position: center; background-repeat: no-repeat;
}
footer { /* Footer content */
  position: fixed;
  height: 30vh; width: 100%;   
  padding: 30px 0;    
  color: #111;
  background-color: whitesmoke;
  
  z-index: -1;
  left: 0; right: 0; bottom: 0;   
}
.footer-content { /* Footer-Content div*/
  display: flex;
  align-items: center; justify-content: center; flex-direction: column;
  text-align: center;
}
.footer-content h3 { /* Footer-Content div Title */
  font-size: 1.5rem; font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p { /* Footer-Content div Subtitle */
  max-width: 500px;
  margin: 5px auto;
  line-height: 28px; font-size: 14px;
}
.footer-content .menu { /* Footer-Content div Menu */
  list-style: none;
  display: flex;
  align-items: center; justify-content: center;  
}
.footer-content .menu li { margin: 0 20px; }
.footer-content .menu a {
  text-decoration: none; color: #b2071d;
}
.footer-bottom { /* Footer-Bottom div */  
  background-color: #000; color: white; opacity: .5;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  float: inline-end;
 
}
.footer-bottom p { /* Footer-Bottom div text */
  word-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: .5; font-weight: 200;
}

/* ------------------------------------------------------------ SOCIAL MEDIA ---------------------------------------------------------------*/
.i-socialMedia { /* Contact-Social Media Div*/
  display: grid;
  height: 100%; width: 100%;
  place-items: center; 
  background-color: #6CC6C9;
  border-radius: 5px; padding: 0.5rem; 
}
.i-socialMedia .button {
  display: inline-block;
  height: 50px; width: 50px;
  margin: 0 0 5px;
  overflow: hidden;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
  color: black; text-decoration: none; 
}
.i-socialMedia .button:hover {
  width: 200px;
}
.i-socialMedia .button .icon {
  display: inline-block;
  height: 50px; width: 50px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 50px;
  transition: all 0.3s ease-out;
}
.i-socialMedia .button:nth-child(1):hover .icon {
  background: #4267B2;
}
.i-socialMedia .button:nth-child(2):hover .icon {
  background: #0e76a8;
}
.i-socialMedia .button:nth-child(3):hover .icon {
  background: #2AABEE;
}
.i-socialMedia .button:nth-child(4):hover .icon {
  background: #171515;
}
.i-socialMedia .button:nth-child(5):hover .icon {
  background: #81b71a;
}
.i-socialMedia .button:nth-child(6):hover .icon {
  background: #b2071d;
}
.i-socialMedia .button .icon i { /* Contact-Social Media Div Icons*/
  font-size: 25px;
  line-height: 50px;
  transition: all 0.3s ease-out;
}
.i-socialMedia .button:hover .icon i {
  color: whitesmoke;
}
.i-socialMedia .button span {
  font-size: 12px;
  font-weight: 500; line-height: 50px;  
  transition: all 0.3s ease-out;
}
 .button:nth-child(1) span {
  color: #4267B2
}
 .button:nth-child(2) span {
  color: #0e76a8;
}
 .button:nth-child(3) span {
  color: #2AABEE;
}
.button:nth-child(4) span {
  color: #171515;
}
 .button:nth-child(5) span {
  color: #81b71a;
}
 .button:nth-child(6) span {
  color: #b2071d;
}
@media screen and (max-width: 1014px) {
  .i-socialMedia {
    display: flex;
    margin: 0 5px 0;     
  }
  .i-socialMedia .button { margin: 0 5px 0; }
  .i-socialMedia .button span { font-size: 8px; }  
}