/* ----------------------------------------------------------------------- FONTS -------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* --------------------------------------------------------------------- GENERAL ------------------------------------------------------ */
html { scroll-behavior: smooth; } /* Para darle efecto al Scroll vertical */

* { 
    box-sizing: border-box; /*QUITAR ESTO*/
    max-width: 100%;    
    margin: 0px; padding: 0px; 
    font-family: 'Press Start 2P', cursive, Arial, Helvetica, sans-serif;
}

.sectionTitles { /* Sections Titles */
    width: 100%;
    background-color: #4B7F83; color: white;
    border-radius: 5px; padding: 0.5rem;
    text-align: center; font-size: 20px;
    margin-bottom: 5px;
  }

/* ------------------------------------------------------------ DISPLAY ------------------------------------------------------------------ */
header, .aboutme, .contactme {
    display: flex;
    justify-content: center; align-items: center; align-content: center;
}
.aboutme, header {
    max-height: 100vh;  height: 100vh;   
}
.portafolio, .contactme {
    min-height: 100vh;
    padding: 1em;
}
.content {
    width: 100%; margin: 0 auto;
    display: flex; flex-wrap: wrap;
    align-items: center; justify-content: space-around;    
}

/* ----------------------------------------------------------- Scroll To Top Button -------------------------------------------------------*/
.ScrollToTop {
    position: fixed;
    z-index: 99;    
    right: 10px; bottom: 10px;
    width: 60px; height: 60px;
    border-radius: 50%; padding: 0.5rem;
    background-color: #4B7F83; color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);    
    outline: none; border: none; display: none;
    cursor: pointer; 
    transition: 0.4s;   
}
.ScrollToTop:hover {
    width: 65px; height: 65px;
    background-color: black; color: white;
}

/* -------------------------------------------------------------------- NAVBAR ---------------------------------------------------------- */
.sticky-top {
    transition: all 0.2s ease-in-out;
}
.navbar { /* Navbar-Default Styles */
    background-color: #6CC6C9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);     
}
.navbar .navbar-collapse a:hover {
    background-color: #4B7F83;
    border-radius: 10px;
    transition: 0.3s; transform: translateY(3px);
}
.navbar-nav a.nav-link, a.nav-link.active { 
    text-shadow: 2px 2px 4px #324B4D;
    transition: 0.5s;
}

.stuck .navbar.sticky-top { /* Navbar-Sticky Styles */
    background-color: #4B7F83;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);      
}
.stuck .navbar.sticky-top .navbar-nav a.nav-link.active {
    text-shadow: 2px 2px 4px #324B4D;
    transition: 0.5s;
}
.stuck .navbar.sticky-top .navbar-nav a.nav-link {
    text-shadow: 2px 2px 4px #324B4D;
    transition: 0.5s;
} 
.stuck .navbar.sticky-top .navbar-collapse a:hover {
    background-color: #6CC6C9;
    border-radius: 10px;
    transition: 0.3s; transform: translateY(3px);
}

/* ------------------------------------------------------------ HEADER ---------------------------------------------------------------- */
.h-introduccion { /* Introduction Section */
    max-width: 90%; max-height: 100vh;     
    padding: 1em;   
    border-radius: 10px;
    display: table; 
    text-align: center;     
    background-color: #F4F6F7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
/* Intr-Title with effect */
.h-introduccion .h-title h1 {
    text-align: center; font-size: 28px;        
    margin: 5px auto; padding: 0.5rem;  
    border-radius: 5px;
    display: block;    
    border-right: 4px solid black; /* cursor */
    width: 17ch;
    white-space:nowrap;
    animation: typing 2s steps(17), blink .5s infinite step-end alternate;
    overflow: hidden;
    background-color: #4B7F83; color: white;
}
@keyframes typing {
    from { width: 0; }    
}
@keyframes blink {
    50% { border-color: transparent; }
}

.h-introduccion .h-subtitle h5, #h5-final { /* Intr-Subtitle and Footer */   
    margin: 10px 0 10px 0; 
    padding: 0.5rem;
    text-align: left; font-size: 22px;
    border-radius: 5px;   
    background-color: #6CC6C9; color: white;    
}
.h-introduccion .content .h-back, .h-front { /* Intr-Divs (back-front) */
    max-width: 350px;      
    padding: 0.5rem; margin: 5px;
    z-index: 1;
    border-radius: 5px;
    transition: 0.4s;
    background-color: #4B7F83; color: white;    
}
.h-introduccion .content .h-back:hover, .h-front:hover {
    transform: translateY(-10px);
    background-color: #F4F6F7;
    transition: 0.3s;
} 
.h-introduccion .content span { /* Intr-Divs Title */      
    font-size: 20px;
    display: table;
    margin: 0 auto;    
    position: relative;
    transition: 0.4s;
    transform: translateY(35px);
    opacity: 1;
}
.h-introduccion .content .h-back:hover span, .h-front:hover span {
   transform: translateY(0px);  opacity: 0;
}
.h-introduccion .content p { /* Intr-Divs text */
    text-align: justify;   
    font-size: 10px; margin-bottom: 30px;
    color: black;    
	transition: 0.4s;
    transform: translateY(50px);
	opacity: 0;
    cursor: pointer;    
}
.h-introduccion .content .h-back:hover p, .h-front:hover p {
    transform: translateY(0px);
	opacity: 1;
}
.h-introduccion .content .h-image img { /* Intr-Img */
    height: auto;    
    padding: 0.5rem;       
    max-width: 350px;
    border-radius: 15px;       
}
/* Intr-Contact Me Button with effect */
.h-introduccion .btn-h-contact {     
    background-color: #4B7F83; color: white;    
    display: flex;
    align-items: center; justify-content: center;
    border-radius: 5px;
    margin: 0 auto;
}
.h-introduccion .btn-h-contact:after {
    content: "\f086"; font-family: FontAwesome;
    display: block;
    width: 0px; height: 24px;
    overflow: hidden;
    transition: width 200ms, margin-left 200ms;
}
.h-introduccion .btn-h-contact:is(:hover, :focus)::after {
    width: 24px; margin-left: 8px;
}
@media screen and (max-width: 1242px) {
.h-introduccion .content { flex-flow: column; }
.h-introduccion .content .h-image {
    flex-grow: 0; flex-basis: 50%;
}
.h-introduccion { width: 100%; }     
.h-introduccion .h-title h1 { 
    font-size: 22px; margin-bottom: 5px; 
} 
.h-introduccion #h5-final {  font-size: 16px; } 
.h-introduccion .h-subtitle h5 { font-size: 16px; }
.h-introduccion .content .h-back, .h-front {
    padding: 0.2rem; margin: 2px;
}
.h-introduccion .content span { font-size: 18px; }
.h-introduccion .content .h-image img { padding: 0.2rem; }
}

/* -------------------------------------------------------------- SOBRE MI --------------------------------------------------------------- */
.aboutme { /* About Me Section */     
    background-color: lightsalmon; /**/    
}
.aboutme .content img { /* Abtme-Img */
    height: auto;    
    max-width: 425px;
    border-radius: 15px; margin-bottom: 10px;    
}
.abtm-text { /* Abtme-Content Div */
    max-width: 650px;    
    padding: 1em;
    border-radius: 10px;
    text-align: center;   
    background-color: white;  
}
.abtm-text h1 { /* Abtme-Content Title */  
    font-size: 25px; 
    display: flex;
    align-items: center; vertical-align: middle; justify-content: center;              
    padding: 0.3rem;
    border-radius: 5px;   
    background-color: #4B7F83; color: white;
}
.abtm-text h5 { /* Abtme-Content Subtitle */
    font-size: 20px; text-align: center;    
    margin-bottom: 5px; padding: 0.2rem;    
    border-radius: 5px;
    background-color: #6CC6C9; color: whitesmoke;    
}
.abtm-text p { /* Abtme-Content p */
    font-size: 15px; line-height: 25px; letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: left;
    color: black;
}
.aboutme .content .abtm-text .abtm-footer { /* Abtme-Content Hobbies Div */    
    width: 100%;    
    text-align: center;
    border-radius: 5px; margin-bottom: 10px;
    padding: 0.5rem;       
    background-color: #4B7F83; color: white;
}
.aboutme .content .abtm-text .abtm-footer i:hover {
    color: black;
    cursor: pointer;
    transition: 300ms;
}
.aboutme .content .abtm-text .abtm-footer h6 { /* Abtme-Content Hobbies Title */
    font-size: 15px; text-align: center;   
}
/* Abtme-Content CV Button with effect */
.aboutme .content .abtm-text .btnCV {
    width: 100%; 
    background-color: #4B7F83; color: white;
    display: flex;
    align-items: center; justify-content: center;
}
.aboutme .content .abtm-text .btnCV:after {
    content: "\f56d"; font-family: FontAwesome;
    display: block;
    width: 0px; height: 24px;
    overflow: hidden;    
    transition: width 200ms, margin-left 200ms;
 }
 .aboutme .content .abtm-text .btnCV:is(:hover, :focus)::after {
    width: 24px; margin-left: 8px;
 }

@media screen and (max-width: 1180px) {
    .aboutme, .contactme {
        width: 100%; height: auto;
        padding: 50px 0px;
    }    
}
@media screen and (max-width: 650px) {
    .abtm-text { width: 100%; }
    .aboutme .content img { max-width: 385px;  margin: 10px 0 10px 0; }    
    .abtm-text h1 { font-size: 20px; margin-bottom: 5px; }     
    .abtm-text h5 {
        font-size: 15px; text-align: center;
        margin-bottom: 5px;        
    } 
    .abtm-text p { font-size: 13px; }  
    .aboutme .content .abtm-text .abtm-footer h6 { font-size: 12px; }
}

/* ------------------------------------------------------------------ PORTAFOLIO ---------------------------------------------------------- */
.portafolio { /* Portafolio Section */ 	
    background-color: goldenrod;
} 
.portafolio .p-cards-container {
    display: flex; flex-wrap: wrap;
	justify-content: space-around; align-items: center; align-content: center; 	    
    gap: 15px;  padding: 1rem; border-radius: 5px;
    z-index: 1;
    background-color: #F4F6F7;
}
.portafolio .p-card { /* Portafolio-Card Divs */		
    min-width: 350px; height: 400px;		
	border-radius: 10px;
    padding: 1em;
    position: relative; 
    display: flex;
    align-items: center; justify-content: space-between;
    width: calc(100% * (1/3) - 50px - 1px);	   	
    background-color: white;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);  
    flex-direction: column;    
	transition: 0.4s;
    border: 2px solid #4B7F83; 
}
.portafolio .p-card:hover  { 
    transform: translateY(8px);
    border: 2px solid #6CC6C9;    
}
.portafolio .p-card .content .contentBx { /* Portafolio-Cards Title */ 
    display: table; text-align: center;   
    width: 100%;
    padding: 0.5rem; border-radius: 5px; 
    margin-bottom: 5px; cursor: default; 
    background-color: #4B7F83; color: white; 
}
.portafolio .p-card .content .contentBx h3 { 	
    display: table-cell;    
    text-transform: uppercase; 
    letter-spacing: 1px; font-weight: 500; 
    font-size: 12px;
}
#p-img .img-item { /* Portafolio-Cards Img */ 
    position: relative;
	width: 300px; height: 200px;
	overflow: hidden;  
    margin: 5px;
}
#p-img img {
    position: absolute;	
	width: 100%; height: 100%;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
    background-color: white;
    border: 2px solid #4B7F83;
}
.portafolio .p-card .content .t-icons { /* Portafolio-Cards Tech-Icons Div */    
    width: 100%;
    border-radius: 5px; margin: 2px 0 5px 0;
    z-index: 1;
    cursor: pointer;
    transition: 0.4s; 
    background-color: #6CC6C9; color: whitesmoke;    
}
.portafolio .p-card .content .t-icons:hover {
    background-color: white;
    border: 1px dotted #6CC6C9;      
}
.portafolio .p-card .content .t-icons span { /* Portafolio-Cards Tech-Icons Title*/
    font-size: 15px;
    display: table;    
    margin: 0 auto;      
    position: relative;
    transition: 0.4s; transform: translateY(-20px);
    opacity: 1;
}
.portafolio .p-card .content .t-icons:hover span {
    transform: translateY(0px); opacity: 0;
}
.portafolio .p-card .content .t-icons .p-tecnologies { /* Portafolio-Cards Tech-Icons icons */     
    display: flex;              
    justify-content: center;      
    padding: 0.2rem;    
    margin: 0;  opacity: 0;       
}
.portafolio .p-card .content .t-icons:hover .p-tecnologies {
     opacity: 1; transform: translateY(10px);
} 
.portafolio .p-card .content .t-icons .p-tecnologies li {   
	list-style: none;    
	margin: 0 5px;    
    cursor: pointer; 	
    transform: translateX(30px);    
	transition: 0.4s; opacity: 0;               
}
.portafolio .p-card .content .t-icons:hover .p-tecnologies li {
	transform: translateX(0px); opacity: 1;
}
.portafolio .p-card .content .t-icons .p-tecnologies li .p-tec-svg-icons { 
    width: 35px; height: 35px;
    padding: 0; border: 0; margin: 0;
}
.p-tec-tooltip .tooltip-inner { /* Portafolio-Cards Tech-Icons icons Tooltip */  
    font-size: 12px; text-align: center;
    background-color: #324B4D; color: white; 
    border-radius: 5px; padding: 0.5rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.portafolio .p-card .p-icons { /* Portafolio-Cards Content Links-Icons */
    width: 90%; 
    position: absolute;   
	display: table; text-align: center;
    border-radius: 5px;
    padding: 0.2rem;  
    transition: 0.4s;  
    margin: 0.5rem 0 0.5rem 0; bottom: 0; 
    background-color: #4B7F83; color: whitesmoke;    
}
.portafolio .p-card .p-icons li {
    display: table-cell;
	list-style: none;
	margin: 0 50px;
	transform: translateY(20px);
	transition: 0.4s; opacity: 0;    
}
.portafolio .p-card:hover .p-icons li {
	transform: translateY(0px); opacity: 1;      
}
.portafolio .p-card .p-icons a {
    color: whitesmoke;
}
@media screen and (max-width: 980px) {
    .portafolio .p-card { width: calc(100% * (1/2) - 50px - 1px); } 
    .portafolio .p-card .content .contentBx h3 {
        font-size: 10px; line-height: 0.8rem;
    }      
    .portafolio .p-card .content .p-tec-svg-icons {
        min-width: 25px;  min-height: 25px;
    } 
  }
/* --------------------------------------------------------------- Modal ---------------------------------------------------------------- */
.modal .modal-dialog {
    border-radius: 5px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    min-width: 85%;
}
#imgPopUpModal .modal-header, .modal-footer {    
    display: table;
    text-align: center;        
    font-size: 14px;
    border-radius: 5px;
    margin: 0; padding: 0.5rem;
    position: relative;
}
#imgPopUpModal .modal-header {    
    background-color: #4B7F83; color: white; 
}
#imgPopUpModal .modal-header h6 { /* Modal Title */
    display: table-cell;  
    width: 100%;    
}
.modal-header .btn-close { /* Modal Close Button */
    margin: 1px; top:0; right: 0;   
    position: absolute;
    background-color: transparent;
    opacity: 1; transition: 400ms;       
  }
.modal-header .btn-close:hover {
    background-color: white;
}
 #imgPopUpModal .modal-body { /* Modal Body */
    border-radius: 5px;
    margin: 0; padding: 1rem;
    justify-content: center; text-align: center;
    background-color: #F4F6F7;
    cursor: zoom-in;
}
#imgPopUpModal .img-modal, .modal-footer p {
    width: 100%;       
}
.modal-content span { /* Modal Instructions */
    padding: 0.2rem; margin-top: 5px; border: 0;
    font-size: 12px;
    text-align: center;     
    border-bottom: 2px dotted #4B7F83; border-top: 2px dotted #4B7F83;
}
.modal-content .zoomout { /* Modal Close Magnifying Glass */
    cursor: zoom-out;
    border: 0; padding: 0 0.2rem 0 0.2rem; 
    background-color: transparent;
    font-size: 14px;
    transition: 0.3s;
}
.modal-content .zoomout:hover {
    background-color: black; color: white;
    transform: translateY(-2px);
}
.img-magnifier-container {
    position: relative;    
}  
.img-magnifier-glass {
    position: absolute;
    border: 5px solid #4B7F83;
    border-radius: 50%;
    cursor: move;
    background-color: #F4F6F7; 
    width: 185px; height: 185px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
#imgPopUpModal .modal-footer { /* Modal Footer */
    background-color: #6CC6C9; color: whitesmoke;
    border-top: 2px solid #4B7F83;
}

@media screen and (max-width: 980px) {
    #imgPopUpModal .modal-header h6, .modal-footer { font-size: 12px; }
    .modal-content span { font-size: 10px; }
    .modal-content .zoomout { font-size: 12px; }
    .img-magnifier-glass { width: 135px; height: 135px; }
}

/* ----------------------------------------------------------- CONTÁCTAME --------------------------------------------------------------- */  
.contactme { /* Contact Section */     
    background-color: orchid; /* *** */     
}
.contact-form { /* Contact-Form Div*/  
    width: 600px; 
    border-radius: 10px;
    padding: 1em;
    background-color: white; /**/
}
.contact-form h1 { /* Contact-Form Div Title */    
    text-align: center; font-size: 25px;
    margin-bottom: 10px;
    background-color: #4B7F83; color: white;
    border-radius: 5px; padding: 0.5rem;    
}
.contact-form label span {
    font-size: 10px; color: red;
}
.contact-form #message { 
    height: 150px; margin-top: 5px; 
}
.contact-form #emailHelp { 
    font-size: 11px; padding-bottom: 1em;
}
/* Contact-Form Div Button with effect */
.contact-form #btnSendEmail {
    background-color: #4B7F83; color: white;    
    display: flex;
    align-items: center; justify-content: center;    
    margin-top: 10px;
    width: 100%;
}
.contact-form #btnSendEmail:after {
    content: "\f3e5"; font-family: FontAwesome;
    transform: rotate(180deg);
    display: block;
    width: 0px; height: 24px;
    overflow: hidden;
    transition: width 200ms, margin-left 200ms;
}
.contact-form #btnSendEmail:is(:hover, :focus)::after {
    width: 24px; margin-left: 8px;
}
.contactme .content .icons {  /* Contact-Icons Div */     
    border-radius: 5px; padding: 1em;
    background-color: white;    
}  
.contactme .content .icons h4 {
    font-size: 13px;
    background-color: #4B7F83; color: white;
    padding: 0.5rem; border-radius: 5px;
    text-align: center;
}
@media screen and (max-width: 1014px) {           
    .contact-form h1 { font-size: 20px; margin-bottom: 5px; }
    #c-form label, #c-form input, #c-form textarea { font-size: 12px; } 
    .contact-form #emailHelp { font-size: 8px; padding-bottom: 1.2rem; }
    .contactme .icons { margin: 5px; }
    .contactme .icons p { font-size: 12px; }
}

/* -------------------------------------------------------------- FOOTER --------------------------------------------------------------- */
  footer {
      height: 10vh;
      text-align: center;
      justify-content: center;
      background-color: red;
  }
  
/* Footer */
.footer-text {
    text-align: center;
  }