@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* --------------------------------------------------------------------- GENERAL ------------------------------------------------------ */
html {
    scroll-behavior: smooth; /* Para darle efecto al Scroll vertical */      
}

* { 
    margin: 0px;
    padding: 0px; 
    font-family: 'Press Start 2P', cursive, Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------------------------ NAVBAR -------------------------------------------------------------- */

#navbar {
    font-family: 'Press Start 2P', cursive, Arial, Helvetica, sans-serif;
    font-size: 17px;

    border: 5px solid white; 
}

/* ------------------------------------------------------------ HEADER ---------------------------------------------------------------- */
header {
    display: grid; /***********************/
    margin-top: 50px;
    font-family: 'Press Start 2P', cursive, Arial, Helvetica, sans-serif;
    
    background-color: gray;
}

#h-introduccion { /* section */   
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* fr: fracción */
    grid-template-rows: repeat(1, 1fr);    

    padding: 3em;

    border-top: 25px solid red;
    
    align-items: center;
    text-align: center;
    justify-content: center;
}

#a-text { /* article */
/* Ocupa de la columna 1 a la 3 */ 
    grid-column: 1/3;

    font-size: 15px;

    background-color: darkcyan; 
}

#a-text h1 { /* article title */
    text-align: center;
    
    background-color: yellow;
}

#a-text p { /* Párrafos */
    text-align: left;          
}

#a-img { /* article img */
/* Ocupa de la columna 3 a la misma */          
    grid-column: 3/3; 
    
    background-color: green;    
}

#introductionimg { /* ESTA SE QUITA DESPUES */
    height: 250px;
    width: 250px;
}

/* ----------------------------------------------------------------- BODY --------------------------------------------------------------- */
body { 
    position: absolute;      
}

/* -------------------------------------------------------------- SOBRE MI --------------------------------------------------------------- */
.aboutme{      
    display: grid;
   
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);

    padding: 3em;    

    justify-content: center;
    align-content: center;
    align-items: center;
    
    font-family: 'Press Start 2P', cursive, Arial, Helvetica, sans-serif;

    border-top: 25px solid greenyellow;

    background-color: lightsalmon;
}

#aboutme-img { /* div aboutme img */  
    background-color: navy;
    grid-column: 1/1;

    padding: 3em;
}

#info { /* div aboutme text */
    background-color: red;
    grid-column: 2/6;
    padding: 3em; 
   
    /*display: grid;*/   
}

#info h1 {
    text-align: center;
    background-color: yellow;
}

#info a {    
    display: grid;
}


/* -------------------------------------------------------------- PORTAFOLIO -------------------------------------------------------------- */
.portafolio { /* div portafolio */
    align-items: center;
    justify-content: center;
    align-content: center;  

    border-top: 65px solid purple;
}

.portafolio h1 {
    text-align: center;
    background-color: yellow;
}

#projects-cards { /* div general de las cards*/
    display: flex;
}

#projects-cards h5 {
    text-align: center;
    font-size: 20px;
    background-color: yellow;    
}

#projects-cards p {
    font-size: 15px;
}

#projects-cards a {
    cursor: pointer;
    color: black;
 
}

.card-footer {
    text-align: center;
}


/* -------------------------------------------------------------- SKILLS ------------------------------------------------------------------- */
.skills {
    display: grid;    

    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;

    background-color: darkolivegreen;
}

  #s-imgs { /* div */
    border-radius: 15px;
    padding: 2em;
    background-color: royalblue;
  }

  .skills img {
      width: 125px;
      height: 125px;

      cursor: pointer;
      border: 1px solid red; 
  }

  .custom-tooltip { /* Tooltip */
    --bs-tooltip-bg: var(--bs-primary);
  }

  /* ----------------------------------------------------------- CONTÁCTAME --------------------------------------------------------------- */
  .contactme {      
      background-color: orchid; /* *** */
      justify-content: center;
      align-content: center;
      align-items: center;

      display: grid;
  }

  #contactme-div {
      background-color: coral;
      width: 70vw;
      height: fit-content;

      display: grid;

      border-radius: 20px;

      padding: 2em;

     
  }

  /* -------------------------------------------------------------- FOOTER --------------------------------------------------------------- */
  footer {
      background-color: red;
  }




