<!DOCTYPE html>
<html lang="es-MX">
<!-- Head -->
<head th:replace="layout/layout :: head"> </head> 

<!-- Body -->
<body>
  <div class="main">  
    <!-- Loading page Gif -->
    <div id="loading" class="loading-page-gif">
      <img th:src="@{/img/loading.gif}" alt="">
    </div>
    <!-- Bóton para regresar al inicio -->
    <button class="ScrollToTop btn b-color-4B7 transition04" title="Volver al inicio / Back to top">
      <i class="fa-solid fa-arrow-up fa-bounce"></i>     
    </button>  
       
    <!-- Header -->
    <header id="h-introduccion"> 
      <div class="scroll-down"><span class="sd-span bounce" data-es="Desliza hacia abajo " data-en="Scroll down "></span></div>           
      <div class="scroll-down-r"><span class="sd-span bounce" data-es="Desliza hacia abajo " data-en="Scroll down "></span></div>
      <!-- Introducción -->
      <section class="h-introduccion radius10-padding1">       
        <div class="h-title">
          <h1 class="radius-padding b-color-4B7"><i class="fa-solid fa-terminal fa-fw"></i><span data-es="'Hola Mundo!!'_" data-en="'Hello World!!'_"></span></h1>
        </div>
        <div class="h-subtitle">
          <h5 class="radius-padding b-color-6CC" 
          data-es="if(Desarrollador == true){ //Inicio del if" 
          data-en="if(Developer == true){ //Start if statement">
          </h5>
        </div>  
        <div class="content">
          <div class="h-back radius-padding b-color-4B7 transition04">
            <span class="transition04">Back end</span>
            <p class="transition04" 
              data-es="Principalmente asumo el rol de desarrollador, ya que no tengo mucha experiencia en la parte del servidor de base de datos"
              data-en="I mainly assume the developer role, cos I don't have much experience in the database server part"></p>
          </div>
          <div class="h-image">
            <img th:src="@{/img/fondo.jpg}" alt="">
          </div>
          <div class="h-front radius-padding b-color-4B7 transition04">
            <span class="transition04">Front end</span>
            <p class="transition04" 
              data-es="Diseño y desarrollo de la interfaz gráfica para el usuario (GUI), claramente no a un nivel 'profesional' pero se hace el intento"
              data-en="Design and development of the Graphical User Interface (GUI), clearly not on a 'professional' level but the attempt is made"></p>
          </div>
        </div>
  
        <h5 class="radius-padding b-color-6CC" id="h5-final"><span data-es="} //Termina el if" data-en="} //End if statement"></span> </h5>
        <a href="#contactme" class="btn-h-contact btn radius-padding"><span data-es="Contáctame" data-en="Contact me"></span></a>       
      </section>
    </header>  
    
    <span class="position-absolute trigger"></span> <!-- Span oculto que funciona como trigger usado para aplicar el efecto 'stuck' a la navbar -->
    <!-- Navbar -->
    <nav th:replace="layout/layout :: navbar"></nav>
    <!-- Modal Spinner Lenguaje -->
    <div th:replace="layout/layout :: modalSpinner"></div>
  
    <!-- Sobre mí -->
    <section class="aboutme" id="aboutme">
      <div class="content" data-aos="fade-up">
        <div class="abtme-img-container radius10-padding1">
          <img th:src="@{/img/me.png}" alt="">
        </div>        
        <div class="abtm-text radius10-padding1">
          <h1 class="radius-padding b-color-4B7"><i class="fa-solid fa-address-card fa-beat-fade"></i>&nbsp;
            <span data-es="Sobre mí" data-en="About me"></span>
          </h1>                   
          <h5 class="radius-padding b-color-6CC" data-es="Me llamo Edgar Mauricio Barrueta Aguirre" data-en="My name is Edgar Mauricio Barrueta Aguirre"></h5>
          <pre 
            data-es="Soy un desarrollador que principalmente usa el lenguaje Java para programar, como se puede apreciar en la mayoría de mis proyectos, tanto aplicaciones de escritorio, páginas web y aplicaciones móviles, pero al igual que cualquier otro programador, me gusta usar, y sobre todo aprender, nuevos lenguajes y nuevos frameworks. 
              Egresado de la carrera de ingeniería en TIC en el año 2020, en mis tiempos libres me he dedicado a estudiar y adquirir nuevos conocimientos por mi cuenta, ya que una de mis cualidades es precisamente esa, que me gusta ser autodidacta y gracias a eso he obtenido nuevas habilidades, algunas solamente las más básicas y otras un poco más 'avanzadas'. 
              
              Entre el desarrollo para las distintas plataformas elegiría en primer lugar el desarrollo web, la razón sería el hecho de que actualmente una buena página web es fundamental para cualquier tipo de empresa, y personalmente disfruto mucho todo el proceso de ver cómo es que la página poco a poco empieza a tomar forma, tanto del lado back end como del lado front end."
            data-en="I'm a developer who mainly uses Java language to develop, as can be seen in most of my projects, both as desktop applications, web pages and mobile applications, but like any other developer, like any other developer, I like to use, and especially learn, new languages ​​and new frameworks.
              Graduated of Degree in ICT on 2020, in my free times I've dedicated to studying and acquiring more knowledge on my own, cos one of my qualities is precisely that, I like to be self-taught, and thanks to that I've obtained new skills, some just the most basic knowledge and others a little more 'advanced'.
            
              Among the development for the different platforms, I'd choose web development in the first place, the reason would be the fact that at present, a good web page is essential for any type of company, and personally I really enjoy the whole process of seeing how the page gradually begins to taking shape, both Back-end side and Front-end side.">
          </pre>
          <div class="abtm-footer radius-padding b-color-6CC">
            <h6>Hobbies:</h6>
            <i class="fa-solid fa-laptop-code fa-fw fa-xl"></i>
            <i class="fa-solid fa-guitar fa-fw  fa-xl"></i>
            <i class="fa-solid fa-headphones fa-fw  fa-xl"></i>
            <i class="fa-solid fa-gamepad fa-fw  fa-xl"></i>
            <i class="fa-solid fa-film fa-fw fa-xl"></i>
            <i class="fa-solid fa-mug-hot fa-fw fa-xl"></i>
          </div>
          <a th:href="@{/files/CV.pdf}" class="btnCV btn " target="_blank"><span data-es="Currículum Vitae" data-en="Resume"></span></a>
        </div>
      </div>
    </section>
  
    <!-- Portafolio -->    
    <section th:replace="layout/layout :: portafolio"></section>    
  
    <!-- Skills -->
    <section th:replace="layout/layout :: skills"></section>
  
    <!-- Contacto -->
    <section th:replace="layout/layout :: contact"></section>  
  </div>

  <!-- Portafolio Image Modal -->
  <div th:replace="layout/layout :: p-modal"></div>
  
  <!-- Footer -->
  <footer id="footer">
    <div class="footer-content">
      <h3 data-es="Sígueme" data-en="Follow me"></h3>
      <div class="social radius-padding">
        <a href="#" title="Spotify"><i class="fab fa-spotify"></i></a>
        <a href="#" title="YouTube"><i class="fab fa-youtube"></i></a>
        <a href="#" title="Reddit"><i class="fab fa-reddit"></i></a>
        <a href="#" title="Stack-Overflow"><i class="fab fa-stack-overflow"></i></a>
      </div>
      
      <ul class="menu radius-padding b-color-4B7">
        <li><a href="#h-introduccion"><span data-es="Inicio" data-en="Home"></span></a></li>
        <li><a href="#aboutme"><span data-es="Sobre mí" data-en="About me"></span></a></li>
        <li><a href="#portafolio"><span data-es="Portafolio" data-en="Portfolio"></span></a></li>
        <li><a href="#skills-cards"><span data-es="Habilidades" data-en="Skills"></span></a></li>
        <li><a href="#contactme"><span data-es="Contáctame" data-en="Contact me"></span></a></li>
      </ul>       
      <p data-es="Página desarrollada por:" data-en="Web page developed by:"></p>
    </div>
    <div class="footer-bottom">
      <p>Edgar Mauricio Barrueta Aguirre <span>&copy; 2022</span></p>
    </div>
  </footer>
  
  <!-- Scripts -->
  <th:block th:replace="layout/layout :: end-scripts"></th:block>
</body>
</html>