<!DOCTYPE html>
<html lang="es-MX">

<head th:replace="layout/layout :: head"> </head>  

<body>
  <!-- Navbar -->
  <nav th:replace="layout/layout :: navbar"></nav>

  <!-- Bóton para regresar al inicio -->
  <button class="ScrollToTop btn btn-success">
    <i class="fa-solid fa-arrow-up"></i>
  </button>
  
  <!-- Header -->
  <header>
    <!-- Introducción -->
    <section class="h-introduccion" id="h-introduccion">
      <!--AQUI A LO MEJOR UN VIDEO-->
      <div class="a-text">
        <h1>Edgar Mauricio Barrueta Aguirre</h1>
        <h5>Desarrollador Java</h5>
        <p>Aquí va el texto de introducción que todavia no sé cual vaya
          a ser o que cosa voy a poner solo estoy probando
        </p>
  
        <p>
          <a href="#contactme" class="btn btn-warning">Contáctame</a>
        </p>
      </div>
    </section>
  </header>
  
  <!-- Sobre mí -->
  <section class="aboutme" id="aboutme" data-aos="fade-up">
    <div class="content">
      <img th:src="@{/img/fondo.jpg}" alt="">
      <div class="abtm-text">
        <h1>Sobre mí</h1>
        <h5>Desarrollador Web - Software - Movil</h5>
        <p>Soy un desarrollador Java que ya ni se que esctbirie askddsak
          ljsdljk sdljklsjadlkjalsdjk
          sjakljsdalkjlsd dsljljsaljlsda
          asdjkjksadjksadkjskjksajkjsajsadjk jsakjasdkjkjsakjkas
        </p>
        <div class="abtm-footer">
          <h6>Hobbies:</h6>
          <i class="fa-solid fa-laptop-code fa-fw fa-xl"></i>
          <i class="fa-solid fa-guitar fa-fw  fa-xl"></i>
          <i class="fa-solid fa-headphones fa-fw  fa-xl"></i>
          <i class="fa-solid fa-gamepad fa-fw  fa-xl"></i>
          <i class="fa-solid fa-film fa-fw fa-xl"></i>
          <i class="fa-solid fa-mug-hot fa-fw fa-xl"></i>
        </div>
        <button href="#" class="btnCV btn btn-success">Descargar CV
          <i class="fa-solid fa-cloud-arrow-down fa-fw fa-xl"></i>
        </button>
      </div>
    </div>
  </section>
  
  <!-- Portafolio -->
  <section th:replace="layout/layout :: portafolio"></section>
  <!-- Modal -->
  <div th:replace="layout/layout :: p-modal"></div>
  
  <!-- Skills -->
  <section th:replace="layout/layout :: skills"></section>
  
  <!-- Contacto -->
  <section th:replace="layout/layout :: contact"></section>
  
  <!-- Footer -->
  <footer>
    <div class="socialMedia">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-linkedin"></a>
    </div>
    <div class="footer-text">
      Edgar Mauricio Barrueta Aguirre &copy; 2022 Todos los derechos reservados
    </div>
  </footer>
  
  <th:block th:replace="layout/layout :: end-scripts"></th:block>
</body>
</html>